@font-face {
  font-family: 'fall party';
  font-style: normal;
  font-weight: 300;
  src:
  url("./fonts/a가을소풍M.woff2") format('woff2');
  /* url("fonts/NotoSansKR-Light.woff") format('woff'),
  url("fonts/NotoSansKR-Light.otf") format('truetype'); */
}

@font-face {
  font-family: 'fall party';
  font-style: normal;
  font-weight: bold;
  src:
  url("./fonts/a가을소풍B.woff2") format('woff2');
  /* url("fonts/NotoSansKR-Light.woff") format('woff'),
  url("fonts/NotoSansKR-Light.otf") format('truetype'); */
}

/* cyrillic-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Rubik1.woff2") format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Rubik2.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Rubik3.woff2") format('woff2');
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Rubik4.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/Rubik5.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  margin: 0;
  padding: 0;
  font-family: "fall party", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  /* background-color: #030024; */
  /* background-color: black; */
  background-color: #282c34;
  user-select: none;
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-js .vjs-tech {
  object-fit: cover;
}

.title-overlay {
  color: white !important;
  background: blue !important;
  font-size: 16px;
  font-weight: bold;
}

.title-overlay-big {
  color: white !important;
  background: darkblue !important;
  /* color: black !important; */
  font-size: 1.5vw;
  font-weight: bold;
  opacity: 0.6 !important;
  border: 2px solid darkviolet !important;
}

.title-overlay-modal {
  color: white !important;
  background: darkblue !important;
  /* color: black !important; */
  font-size: 3vw;
  font-weight: bold;
  opacity: 0.6 !important;
  border: 2px solid darkviolet !important;
}

.overlay-hide {
  display: none !important;
}
